table {
   display: flex;
   width: 100%;
   justify-content: space-between;
}
table thead th {
   display: none;
}

table tbody tr {
   display: flex;
   width: 100%;
   justify-content: space-between;
   border-top: 1px solid #dee2e6;
   border-bottom: 1px solid #dee2e6;

}
table tbody {
   width: 100%;
}
table tbody tr td {
   width: 50%;
   border-top: none;
   font-weight: bold;
   margin: 10px auto;
}
table tbody tr td {
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
}


table span.red {
   color:#E64A19 ;
}

table span.green {
   color:#388E3C ;
}
table .txid {
   display: block;
   width: 100px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.table td, .table th {
   border: none !important;
}
table .date {
   padding: 20px 0;
   color: #000000;
   font-weight: 500;
   font-size: 14px;
}
table span {
   display: block;
   color: #000000;
   font-weight: 400;
   font-size: 14px;
   margin-left: 10px;
}
table span.grey {
   display: block;
   color: #757575;
   font-size: 14px;
   font-weight: 400;
}
@media only screen and (max-width: 768px) {
   table tbody tr {
      display: block;
   }
   .table td, .table th {
      width: 100%;
   }
   table .tooltip {
      margin-top:45px;
      margin-left:15%;
   }

}
@media only screen and (min-width: 1055px) {
   table .tooltip {
      margin-left:5px;
      margin-top: 1%!important;;
   }
}


table .tooltip {
   visibility: hidden;
   width: 350px;
   background-color: #E0E0E0;
   color: #000000;
   text-align: center;
   border-radius: 6px;
   padding: 5px 0;
   position: absolute;
   z-index: 1;
   opacity: 0;
   margin-top: 2%;
   transition: opacity 0.3s;
}


table.swap-row-table:hover .tooltip {
   visibility: visible;
   opacity: 1;
}
