.PeerDetailsContainer {
  justify-content: center;
}

.RadioButtonContainer {
  justify-content: center;
}
.PeerContainer {
  display: flex;
}

.PeerContainerLeft {
}

.PeerContainerRight {
}
