.sendStatecoin .subtitle {
    color: #676767;
    font-size: 20px;
    text-align: left;
    font-weight: 400;
    padding-left: 62px;
}


.sendStatecoin.content {
    display: flex;
    justify-content: space-between;
}
.sendStatecoin.content .inputs {
    position: relative;
    margin-top: 30px;

}
.sendStatecoin.content .inputs input {
    position: relative;
    width: 100%;
    border: 1px solid #676767;
    border-radius: 6px;
    font-size: 15px;
    padding: 20px;
    opacity: 1;
}

.sendStatecoin.content .inputs .smalltxt {
    position: absolute;
    top: -10px;
    font-size: 12px;
    color: #676767;
    left: 0;
    right: 0;
    background: #ffffff;
    width: 135px;
    display: block;
    margin: 0 auto;
    padding: 0 10px;

}



.sendStatecoin.content .right {
    width: 49%;
}
.sendStatecoin.content  .right .header {
    display: flex;
    justify-content: space-between;

}
.sendStatecoin.content  .right .header .small {
    display: block;
    font-size: 12px;
    color: #676767;
    margin-top: 5px;
}
.sendStatecoin.content  .right .header .subtitle {
    padding-left: 0;
}
.sendStatecoin.content  .right .header select {
    border: none;
    box-shadow: 0px 2px 12px -7px #222;
    padding: 10px;
    width: 145px;
}
.sendStatecoin.content .left .sub,
.sendStatecoin.content .left h3 {
    text-align: left;
    margin-left: 0;
    padding-left: 0;
}

.sendStatecoin.content .left {
    width: 49%;
}
.sendStatecoin table  {
    display: block;
    margin-top: 30px;
}
.sendStatecoin table tbody {
    display: block;
}
.sendStatecoin table thead tr{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.sendStatecoin table thead tr td {
    display: flex;
    align-items: center;
}
.sendStatecoin table thead tr td img {
    margin-right: 10px;
}
.sendStatecoin table thead tr td {
    color: #757575;
    font-size: 14px;
    text-transform: uppercase;
}
.sendStatecoin table  tr {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 20px;
    margin: 10px auto;
    border-bottom: 1px solid #E0E0E0;

}
.sendStatecoin table tbody  tr td ,
.sendStatecoin table thead  tr td {
    width: 50%;


}

.sendStatecoin table tbody tr td .content {
    display: flex;
    align-items: center;
    margin-left: 10px;

}
.sendStatecoin table tbody tr td .content .txt {
    margin-left: 10px;
}
.sendStatecoin table tbody tr td .content .line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sendStatecoin table tbody tr td .content .line span {
    font-size: 14px;
    color: #757575;
    font-weight: 300;
}
.sendStatecoin table tbody tr td .content .line img {
    width:18px;
    height:18px
}
.sendStatecoin table tbody tr td .content span {
    display: block;
}
.sendStatecoin table tbody tr td:first-child {
    text-align: left;
}
.sendStatecoin table tbody tr td:nth-child(2) {
    text-align: right;
}
.sendStatecoin table tbody tr .status {
    display: block;
    background-color: #E4E4E4;
    text-align: center;
    padding: 15px 20px;
    border-radius: 30px;
}
.sendStatecoin table.second tbody tr td,
.sendStatecoin table.second thead tr td  {
    text-align: center;
}
.sendStatecoin table.second thead  tr td {
    padding-right: 40px;
}
.sendStatecoin table.second thead  tr {
    border-bottom: none;
}

.minus {
   background-image: url("../../images/decrease.png");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center center;
    width: 48px;
    height: 56px;
    border: 1px solid #757575;
    background-color: transparent;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

input.quantity {
    width: 80%;
    height: 56px;
    border-radius: 0;
    border-left: none;
    border-right: none;
}
.def-number-input {
    position: relative;
    display: flex;
    align-items: center;
}


input.quantity {
    width: 80%;
    height: 56px;
    border-radius: 0 !important;
    border: 1px solid #E0E0E0 !important;
    border-left: none !important;
    border-right: none !important;
    text-align: center;
}
.def-number-input {
    position: relative;
    display: flex;
    align-items: center;
}
.def-number-input .smalltxt {
    z-index: 1;
    width: 90px !important;
}
.plus {
    background-image: url("../../images/increase.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px;
    width: 48px;
    height: 56px;
    border: 1px solid #757575;
    background-color: transparent;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

}
.sendStatecoin .right table {
    margin-top: 0;
}
.sendStatecoin .right p.table-title  {
    text-align: left;
    margin-top: 35px;
    font-size: 12px;
    color: #757575;
}
.sendStatecoin .right table tbody tr td {
    text-align: left;
    width: auto;
    margin: 20px 0;
}
.sendStatecoin .right table tbody tr {
    justify-content: flex-start;
    border: none;
}

.sendStatecoin .right table tbody tr td:first-child {
    width: 10%;
}
.sendStatecoin .right table tbody tr td:first-child input {
    width: 20px;
    height: 20px;
    opacity: 1;
}

.sendStatecoin .right  .btn {
    width: 100%;
    padding: 20px;
    border: none;
    background-color: #757575;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
}
.sendStatecoin .right  .btn  img {
    margin-right: 10px;
}

.sendStatecoin input.checkbox {
    border: 1px solid #757575;
}

.sendStatecoin.content .transfer .msg {
    display:flex;
    justify-content:space-between;

}

.transferMsg.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.transferMsg .scan-trasfermsg {
    display: flex;
    background-color: #ECF2FF;
    padding: 20px;
    align-items: baseline;
    border-radius: 6px;
}


.transferMsg .subtitle {
    color: #676767;
    font-size: 20px;
    text-align: left;
    font-weight: 400;

}

@media only screen and (max-width: 768px) {
    .sendStatecoin .subtitle {
        padding-left: 0;
        text-align: center;
    }
    .sendStatecoin.content {
        display: block;
    }
    .sendStatecoin.content .left {
        width: 100%;
    }
    .sendStatecoin.content .right {
        width: 100%;
    }
    .content .inputs .def-number-input {
    width: 100%;
         }
}
