.DS_Store

dist/
build/
coverage/
node_modules/
package-lock.json
yarn-error.log
yarn.lock

wallet.json
yarn.lock

src/react-app-env.d.ts

.env

tor/tor/keys/
tor-adapter-log/
i2p/

lightning.db
lightning-mock.db