.receiveStatecoin .subtitle {
    color: #676767;
    font-size: 20px;
    text-align: left;
    font-weight: 400;
    padding-left: 62px;

}

.receiveStatecoin-scan {
    display: flex;
    align-items: flex-start;
}
.receiveStatecoin-scan-txid .copy-btn-wrap {
    background-color: #ECF2FF;
    padding: 20px;
}
.receiveStatecoin-scan-txid:hover .copy-btn-wrap .address {
    cursor: pointer;
    color: #0054F4;
}
.receiveStatecoin-scan-txid .copy-btn-wrap div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.receiveStatecoin-scan-content  {
    margin-left: 20px;
    flex: 1;
}

.receiveStatecoin-scan-content .btns-container {
    display: flex;
    justify-content: space-between;
}

.receiveStatecoin-scan-content .btns-container .receive-btns button{
    background: #666666;
    color: #ffffff;
    border-radius: 0.15rem;
    font-size:15px;
}
.receiveStatecoin-scan-content .btns-container .receive-btns.active{
    background: #0054F4;
}

.receiveStatecoin-scan-txid .address span {
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-break: anywhere;
    text-align: left;
    margin-left: 10px;
}

.receiveStatecoin-scan-txid .copy-btn-wrap .address-index{
    display: flex;
    justify-content: space-between;
}

.receiveStatecoin-scan-txid img {
    width: 16px;
    height: 16px;
}
.receiveStatecoin-scan-ft-txt {
    display: block;
    text-align: center;
    margin-top: 30px;
    font-weight: 500;
    cursor: pointer;
    font-size: 14px;
    color: #0054F4;
}

.sendStatecoin.content .center {
    width:100%;
}
.receiveStatecoin.sendStatecoin.content .center button {
    margin-top: 20px;
    background: #666666;
    color: #ffffff;
}
.receiveStatecoin.sendStatecoin.content .center button.active { 
    background: #0054F4;
}

.receiveStatecoin .receive-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.receiveStatecoin .receive-bottom div:first-child {
    flex: 1;
    margin-right: 20px;
}
.receiveStatecoin .receive-bottom div:first-child .inputs { 
    margin: 0;
}
.receiveStatecoin.sendStatecoin.content .center .receive-bottom button {
    height: 56px;
    padding: 0 35px;
    margin: 0;
}
.receiveStatecoin .receive-bottom div:first-child .inputs input { 
    padding: 16px;
    border: 1px solid #0054F4;
    text-overflow: ellipsis;
    outline: none;
}
.receiveStatecoin .receive-bottom div:first-child .inputs .smalltxt {
    color: #0054F4;
}
.receiveStatecoin .receive-note {
    font-size: 20px;
    line-height: 20px;
    color: #000;
    margin-bottom: 22px;
    text-align: left;

}

@media only screen and (max-width: 768px) {
    .receiveStatecoin .subtitle {
        padding-left: 0;
        text-align: center;
    }
    .receiveStatecoin-scan {
        display: block;

    }
    .receiveStatecoin-scan-content {
        margin-left: 0;
    }
}
