.wizard-form.inputs form input {
    opacity: 1;
    position: relative;
    border-radius: 20px;
    padding: 10px;
    width: 130px;
    border: 1px solid var(--button-border);
    margin: 10px;
}
.wizard-form.inputs form {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.wizard-form.inputs .copy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 220px;
    cursor: pointer;
    margin: 20px auto;
    padding: 5px 10px;
    border: 1px solid var(--button-border);
    border-radius: 6px;
}
.wizard-form.inputs .copy span {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--primary);


}

.wizard-form.inputs .copy:focus {
    border: 1px solid var(--primary);
}
