.CoinTitleBar {
  height: 20px;
}

.CoinPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  border-bottom: 1px solid #dee2e6;
}

.sub {
  color: #757575;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.CoinSwapStatus {
  display: flex;
  align-items: center;
  color: #757575;
}
.CoinTimeLeft {
  display: flex;
  align-items: center;
  color: #757575;
  justify-content: center;
}

.CoinTimeLeft .expiry-time-left {
  margin-left:3px;
}

.swap-status p {
  margin-bottom: 0px;
}

.coin-status-or-txid .swap-status-container.coinslist .tooltip{
  visibility: hidden;
  width: 350px;
  background-color: #E0E0E0;
  color: #000000;
  text-align: center;
  border-radius: 6px;
  padding: 6px 12px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}
.coin-status-or-txid .swap-status-container.coinslist .tooltip.side{
  top: 0px;
  left:64px
}
.coin-status-or-txid .swap-status-container.coinslist .tooltip.main{
  right:144px
}

.coin-status-or-txid .swap-status-container.coinslist .tooltip:after{
  content: "";
  position: fixed;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #E0E0E0 transparent transparent transparent;
}
.coin-status-or-txid .swap-status-container.coinslist:hover .tooltip{
  visibility: visible;
  opacity: 1;
}

.item.swap-status-container{
  flex-direction: column;
}

.item.swap-status-container .swap-status{
  margin-left:51px;
}

p.minimal{
  display:none;
}
p.short{
  display:none
}

@media(min-width:768px){
  .withdraw .CoinTimeLeft .expiry-title,.swap .CoinTimeLeft .expiry-title,.sendStatecoin .CoinTimeLeft .expiry-title{
    display:none
  }

  .withdraw .CoinFundingTxid, .swap .CoinFundingTxid,.sendStatecoin .CoinFundingTxid{
    width:70px;
  }

  .swap .swap-status .main,.sendStatecoin .swap-status .main,.withdraw .swap-status .main{
    display:none;
  }
  .swap .swap-status .short,.sendStatecoin .swap-status .short,.withdraw .swap-status .short{
    display:block
  }

  .swap .new-tor-id,.sendStatecoin .new-tor-id,.withdraw .new-tor-id {
    display:none
  }  
  
}

@media(min-width:992px){
  .withdraw .CoinTimeLeft .expiry-title,.swap .CoinTimeLeft .expiry-title,.sendStatecoin .CoinTimeLeft .expiry-title{
    display:block;
  }
  
  .withdraw .CoinFundingTxid, .swap .CoinFundingTxid,.sendStatecoin .CoinFundingTxid{
    width:130px;
  }
}

.CoinTimeLeft img {
  margin-right: 5px;

}
.CoinAmount-block {
  text-align: left;
  display: flex;
  width: 30%;
}
.CoinAmount-block img {
  width:36px;
  height:36px
}
.scoreAmount img,
.CoinTimeLeft img {
  width:18px;
  height:18px
}
.CoinAmount {
  color: #000000;
}

.CoinAmountError {
  color: #ff3d00;
  border-style: solid;
}

#danger .sub .progress {
    height: 4px;
    background-image: linear-gradient(to right, #ff3d00 10%, #ffb2ab 0%);
    background-position: top;
    background-size: 8% 4px;
    background-repeat: repeat-x;
}
#danger .expiry-time-left{
    color: #ff3d00;
}

#success .sub .progress {
    height: 4px;
    background-image: linear-gradient(to right, #ffffff 10%, rgb(176, 176, 176) 0%);
    background-position: top;
    background-size: 8% 4px;
    background-repeat: repeat-x;
}

.CoinPanel .progress_bar {
  width: 40%;
  align-self: flex-end;
}



.CoinPanel .coin-status-or-txid {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.progress .bg-danger {
  background-color: #ff0000 !important;

}
.progress .bg-warning {
  background-color: #000000 !important;

}
.progress .bg-success {
    background-color: #000000 !important;
}

.scoreAmount {
  position: relative;
  display: inline-block;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.scoreAmount img {
  margin-right: 10px;
}
.scoreAmount .tooltip {
  visibility: hidden;
  width: 350px;
  background-color: #E0E0E0;
  color: #000000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.scoreAmount .tooltip:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #E0E0E0 transparent transparent transparent;
}
.scoreAmount:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.CoinFundingTxid {
  color: #BDBDBD;
  display: block;
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.CoinFundingTxid img {
  margin-right: 5px;
}

.modal .item {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding: 12px 0;
  border-bottom :1px solid #E0E0E0;
}

.modal .item.qr-container{
  justify-content: center;
}

.question-icon  {
  position: absolute;
  right: 0;
  top: 18px;
}
.modal .item .block {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.modal .item .block.qrcode{
  margin-left: 0px;
}

.txhex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5px;
}

.txhex-container span{
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.copy-hex-wrap.coin-modal-hex {
  width: 100%;
  display: flex;
}
.copy-hex-wrap img{
  height: 16px;
  width: 16px;
  align-self: center;
  margin-right: 10px;
}

.modal .item.tx_hex .block{
  transition:height 2s;
}

.modal .item .block span {
  word-break: break-all;
}
.modal.coin-details-modal .item  .block span:first-child {
  font-size: 16px;
  display: block;
  color: rgba(0, 0, 0, 0.870588);

}
.modal.coin-details-modal .item  .block span:nth-child(2) {
  font-size: 14px;
  display: block;
  color: #666666;

}
.modal .modal-footer {
  border-top: none;

}

.modal .modal-footer  button {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;
  color: #0054F4;
  background-color: #ffffff;
  border :1px solid #E0E0E0;
  font-size: 14px;
  text-transform: uppercase;
}

.widthdrawn-status {
  display: flex;
  align-items: center;
}

.widthdrawn-status span {
  color: #000;
  line-height: 20px;
}

.widthdrawn-status span.widthdrawn-status-time {
  color: #757575;
}

.widthdrawn-status svg {
  margin-right: 7px;
}
.empty-coin-list {
  padding: 0 0 65px 0;
  color: #979797;
}
.empty-coin-list b {
  color: #000;
  font-weight: normal;
}
.empty-coin-list a {
  text-decoration: underline;
}
.empty-coin-list .exclamation{
  transform: scale(1.5);
  margin: 65px 0px 20px 0px;
}

@media only screen and (max-width: 768px) {
  .CoinPanel {
    flex-wrap: wrap;
    justify-content: center;
  }
  .CoinAmount-block {
    margin-bottom: 20px;
    width:100%;
  }
  .CoinFundingTxid {
    margin-top: 20px;
  }
  .CoinAmount-block img {
    margin-right:10px;
  }

  .tab-content .CoinPanel .progress_bar {
    width:100%;
  }

  .coin-status-or-txid {
    position:absolute;
    right:10px;
    top:25px;
    width:max-content;
  }
  .tab-content .CoinPanel {
    display: block;
    position:relative;
  }

  .main-coin-wrap .swap-status{
    width:175px;
  }

  .coin-status-or-txid .swap-status-container.coinslist .tooltip.side, .coin-status-or-txid .swap-status-container.coinslist .tooltip.main {
    right:160px;
    left: auto;
  }
}

.main-coin-wrap {
  position: relative;
}

.main-coin-wrap.no-coin {
  min-height: 50px;
}
.swap .coin-item.SWAPLIMIT, .sendStatecoin .coin-item.SWAPLIMIT{
  opacity: 0.3;
}

.coin-item.SWAPLIMIT, .coin-item.UNCONFIRMED, .coin-item.IN_MEMPOOL, .coin-item.EXPIRED, .coin-item.INITIALISED{
  opacity: .3;
}
.sendStatecoin .coin-item.IN_SWAP,.sendStatecoin .coin-item.AWAITING_SWAP,.withdraw .coin-item.IN_SWAP,.withdraw .coin-item.AWAITING_SWAP{
  opacity: .3;
}
.main-coin-wrap.small-screen .coin-item .CoinPanel {
  display: block;
  position: relative;
}
.main-coin-wrap.small-screen .coin-item .CoinPanel .CoinAmount-block {
  width: 100%;
}
.main-coin-wrap.small-screen .coin-item .CoinPanel .CoinAmount-block img {
  margin-right: 10px;
}
.main-coin-wrap.small-screen .coin-item .CoinPanel .progress_bar {
  width: 100%;
}
.main-coin-wrap.small-screen .coin-item .CoinPanel .coin-status-or-txid {
  position: absolute;
  right: 10px;
  top: 25px;
  width: max-content;
}

.coin-status-or-txid .sc-address-icon{
  height: 16px;
  width:16px
}

.sort-filter{
  height:30px;
}

.coin-details-modal .modal-dialog {
  width: 384px;
}
.coin-details-modal .modal-body {
  padding: 30px 20px 20px 20px;
}

.lower > div:first-child >div:first-child{
  margin-top: 40px;
}

.modal-body .item img.sc-address-icon{
  height: 29px;
  width: 29px;
}

.coin-details-modal .modal-body .item.expiry-time {
  flex-direction: column;
}
.coin-details-modal .progress_bar {
  width: 100%;
  margin-top: 10px;
}
.coin-details-modal .expiry-time-wrap {
  display: flex;
  align-items: center;
}
.coin-details-modal .item.expiry-time .block .expiry-time-left {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 20px;
}
.coin-details-modal .privacy-score-help {
  position: absolute;
  right: 0;
  top: 12px;
  cursor: pointer;
}
.coin-details-modal .block  time {
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
}
.dark-mode .coin-details-modal .block time {
  color: #666666;
}
.coin-item:hover {
  background: rgba(174, 213, 238, 0.102);
  cursor: pointer;
}
.coin-item.selected {
  background:#DFEAFF;
  cursor: pointer;
}
.dark-mode .coin-item:hover {
  background: rgba(102, 102, 102, 0.396078);
}
.dark-mode .coin-item.selected {
  background: #192A4A;
}
.coinURLButton{
  background: none!important;
  border: none;
  padding: 0!important;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}
.coinURLText{
  text-align: left;
}

.coinURLText:hover,
.coinURLText:focus {
    color: black;
}