.CoinPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  border-bottom: 1px solid #dee2e6;
}

.sub {
  color: #757575;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.CoinSwapStatus {
  display: flex;
  align-items: center;
  color: #757575;
}
.CoinTimeLeft {
  display: flex;
  align-items: center;
  color: #757575;
  justify-content: center;
}
.CoinTimeLeft img {
  margin-right: 5px;

}
.CoinAmount-block {
  text-align: left;
  display: flex;
  width: 30%;
}
.CoinAmount-block img {
  width:36px;
  height:36px
}
.scoreAmount img,
.CoinTimeLeft img {
  width:18px;
  height:18px
}
.CoinAmount {
  color: #000000;
}

#danger .sub .progress {
    height: 3px;
    background-image: linear-gradient(to right, #ff3d00 10%, #ffb2ab 0%);
    background-position: top;
    background-size: 9% 3px;
    background-repeat: repeat-x;
}
#danger .expiry-time-left{
    color: #ff3d00;
}

#success .sub .progress {
    height: 3px;
    background-image: linear-gradient(to right, #ffffff 10%, rgb(176, 176, 176) 0%);
    background-position: top;
    background-size: 9% 3px;
    background-repeat: repeat-x;
  background-color: #ff0000;
}

.CoinPanel .progress_bar {
  width: 40%;
  align-self: flex-end;
}

.CoinPanel .coin-status-or-txid {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.progress .bg-danger {
  background-color: #ff0000 !important;

}
.progress .bg-warning {
  background-color: #000000 !important;

}
.progress .bg-success {
    background-color: #000000 !important;
}

.scoreAmount {
  position: relative;
  display: inline-block;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.scoreAmount img {
  margin-right: 10px;
}
.scoreAmount .tooltip {
  visibility: hidden;
  width: 350px;
  background-color: #E0E0E0;
  color: #000000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.scoreAmount .tooltip:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #E0E0E0 transparent transparent transparent;
}
.scoreAmount:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.CoinFundingTxid {
  color: #BDBDBD;
  display: block;
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.CoinFundingTxid img {
  margin-right: 5px;
}

.modal .item {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding: 20px 0;
  border-bottom :1px solid #E0E0E0;
}
.question-icon  {
  position: absolute;
  right: 0;
  top: 18px;
}
.modal .item .block {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.modal .item .block span {
  word-break: break-all;
}
.modal .item  .block span:first-child {
  font-size: 16px;
  display: block;
  color: #000000;

}
.modal .item  .block span:nth-child(2) {
  font-size: 14px;
  display: block;
  color: #666666;

}
.modal .modal-footer {
  border-top: none;

}

.modal .modal-footer  button {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;
  color: #0054F4;
  background-color: #ffffff;
  border :1px solid #E0E0E0;
  font-size: 14px;
  text-transform: uppercase;
}

.widthdrawn-status {
  display: flex;
  align-items: center;
}

.widthdrawn-status span {
  color: #000;
  line-height: 20px;
}

.widthdrawn-status span.widthdrawn-status-time {
  color: #757575;
}

.widthdrawn-status svg {
  margin-right: 7px;
}

@media only screen and (max-width: 768px) {
  .CoinPanel {
    flex-wrap: wrap;
    justify-content: center;
  }
  .CoinAmount-block {
    margin-bottom: 20px;
  }
  .CoinFundingTxid {
    margin-top: 20px;
  }
  .tab-content .CoinPanel {
    display: block;
  }
}
