.custom-modal-body.modal-body {
  padding: 16px;
}
.custom-modal-info {
  font-size: 20px;
  text-align: center;
}
.custom-modal-footer {
  display: flex;
  justify-content: center;
}
.custom-modal-footer.group-btns {
  padding-bottom: 20px;
}
.custom-modal-footer.group-btns button {
  margin-right: 16px;
}
