.restore-form {
   width: 50%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 90px;
}

.restore-form .back {
    position: absolute;
    bottom: 0;
    right: 0;

}
.restore-form  a {
    margin: 0 20px;
}

.restore-form .inputs-item input {
    position: relative;
    opacity: 1;
    width: 100% !important;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #D7D7D7;
    border-radius: 6px !important;
}
.restore-form .inputs-item {
    justify-content: center;
    width: 350px;
    margin: 0 auto;
    position: relative;
}

.restore-form .inputs-item .eye-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    height: 46px;
    display: flex;
    align-items: center;
}

.restore-form .inputs-item p {
    text-align: left;
    margin-top: 20px;
}
.inputs-item.checkbox {
    justify-content: start;
}
.inputs-item.checkbox input {
    border-radius: 0 !important;
    width: 22px !important;
    position: relative;
    top: 7px;
}



.error {
    width: 350px;
    margin: 0 auto;
}
.error p {
    color: red;
    text-align: left;
}

.restore-form a {
    background-color: #0F54F4;
    border: none;
    color:#ffffff;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 8px;
    padding: 5px 16px;
}


.restore-form .inputs-item input[type='checkbox'] {
    border: 1px solid #000000;
    background: #ffffff;
}

.restore-form a.send.disabled {
    background-color: #afc2ef;
    color: #ffffff;
    cursor: not-allowed;
    pointer-events: none;
}

.restore-form .btn-confirm-wrap {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.restore-form a.send:hover {
    float: none;
    margin-top: 0;
    padding: 5px 16px;
    border-radius: 8px;
}
.restore-form a.back:hover {
    color: #ffffff;
}

.restore-form .btn-primary {
    background-color: #0F54F4;
}
