.PanelControl-button {
  background-color: #CCCCCC;
  height: 30px;
}

.ButtonsPanel {
  margin: 5px;
  overflow:hidden;
}

.WalletAmount {
  text-align: left;
  margin: 5px;
  padding-left: 15px;
}

.ActionGroupLeft {
  float: left;
}

.ActionGroupRight {
  float: right;
}
