h1 {
  font-size: 34px;
}

p {
  font-size: 14px;
  color: var(--text-secondary);
  max-width: 910px;
}

.network-btns {
  display: flex;
  align-items: center;
}

.network-btns div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: left;
  font-size: 20px;
  cursor: pointer;
  background-color: var(--container);
  padding: 20px 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  color: var(--text-primary);
  margin: 10px;
  margin-bottom: 25px;
  border-radius: 4px;
}

.network-btns.channel-type div {
  margin-top: 30px;
  padding: 15px 20px;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 0px;
  border: 2px solid #ADB5BD;
}

.network-btns div.selected .check-img {
  display: block;
}

.welcome-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.welcome-first {
  max-width: 990px;
  padding: 20px;
  margin: 0 auto;
  padding-top: 10%;
  text-align: left;
}

.welcome-btns div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: left;
  font-size: 20px;
  cursor: pointer;
  background-color: var(--container);
  padding: 20px 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  color: var(--text-primary);
  margin: 0 10px;
  border-radius: 4px;
}

.welcome-btns img {
  margin-right: 10px;
}
.check-img {
  display: none;
  position: absolute;
  top: 5px;
  width: 17px;
  right: 0;
}

.network-btns div.selected {
  background-color: var(--selected);
}

.welcome-btns div.selected {
  background-color: var(--selected);
}
.welcome-btns div.selected .check-img {
  display: block;
}
.send,
.send:hover {
  float: right;
  display: block;
  margin-top: 30px;
}

.welcome-first a.send.disabled {
  background-color: var(--idle);
  color: var(--container);
  cursor: not-allowed;
  pointer-events: none;
}

.network-switch-new-wallet {
  justify-content: left !important;
  padding-bottom: 10px;
  padding-top: 10px;
}
