
.filter-coin-icon {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  z-index:300;
}

.main-coin-wrap.WITHDRAWN .filter-options {
  right: 30px;
}

.swap .filter-by-wrap, .sendStatecoin .filter-by-wrap, .withdraw .filter-by-wrap{
  display:none
}
