.SwapPanel.SwapHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  border-bottom: 1px solid #dee2e6;
}

.sub {
  color: #757575;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.SwapAmount-block.SwapParticipants.SwapStatus {
  text-align: left;
  display: flex;
}
.SwapAmount-block.SwapParticipants.SwapStatus img {
  width:36px;
  height:36px
}

.SwapAmount {
  color: #000000;
}

#danger .sub .progress {
    height: 3px;
    background-image: linear-gradient(to right, #ff3d00 10%, #ffb2ab 0%);
    background-position: top;
    background-size: 9% 3px;
    background-repeat: repeat-x;
}
#danger .expiry-time-left{
    color: #ff3d00;
}

#success .sub .progress {
    height: 3px;
    background-image: linear-gradient(to right, #ffffff 10%, rgb(176, 176, 176) 0%);
    background-position: top;
    background-size: 9% 3px;
    background-repeat: repeat-x;
  background-color: #ff0000;
}

.progress_bar {
    width: 35%;
}

.progress .bg-danger {
  background-color: #ff0000 !important;

}
.progress .bg-warning {
  background-color: #000000 !important;

}
.progress .bg-success {
    background-color: #000000 !important;
}

.scoreAmount {
  position: relative;
  display: inline-block;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.scoreAmount img {
  margin-right: 10px;
}
.scoreAmount .tooltip {
  visibility: hidden;
  width: 350px;
  background-color: #E0E0E0;
  color: #000000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.scoreAmount .tooltip:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #E0E0E0 transparent transparent transparent;
}
.scoreAmount:hover .tooltip {
  visibility: visible;
  opacity: 1;
}



.question-icon  {
  position: absolute;
  right: 0;
  top: 18px;
}
.modal .item .block {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.modal .item .block span {
  word-break: break-all;
}
.modal .item  .block span:first-child {
  font-size: 16px;
  display: block;
  color: #000000;

}
.modal .item  .block span:nth-child(2) {
  font-size: 14px;
  display: block;
  color: #666666;

}
.modal .modal-footer {
  border-top: none;

}

.modal .modal-footer  button {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;
  color: #0054F4;
  background-color: #ffffff;
  border :1px solid #E0E0E0;
  font-size: 14px;
  text-transform: uppercase;
}
.swap-coin .swap-top {
  display: flex;
  justify-content: space-between;

  margin-bottom: 20px;
}
.swap-coin .swap-top svg {
  cursor: pointer;
}
.swap-coin .swap-title-item {
  display: flex;
  align-items: center;
}

.swap-coin .swap-mid svg {
  cursor: pointer;
}

.swap.content .right .swap-coin .sub{
  margin-bottom:16px
}

.swap-coin .swap-table-head {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
  color: #757575;
  padding: 0 30px 8px 16px;
  border-bottom: 1px solid #E0E0E0;
}
.swap-coin .swap-table-head img { 
  margin-right: 5px;
}
.swap-coin .swap-table-body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.swap-coin .swap-table-body .swap-item-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  /* border-top: 1px solid #E0E0E0; */
  border-bottom: 1px solid #E0E0E0;
  cursor: pointer;
}
.swap-coin .swap-table-body .swap-item-wrap .SwapAmount-block {
  width: 40%;
}
.swap-coin .swap-table-body .swap-item-wrap .SwapParticipants {
  width: 20%;
  text-align: left;
}
.swap-coin .swap-table-body .swap-item-wrap .SwapParticipants b {
  padding: 0;
}
.swap-coin .swap-table-body .swap-item-wrap .SwapStatus span {
  text-align: right;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.252px;
  color: rgba(0, 0, 0, 0.870588);
  background: #E4E4E4;
  border-radius: 16px;
  width: max-content;
  display: block;
}
.swap-coin .swap-item-wrap .SwapAmount-block label {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding-left: 0;
  cursor:default;
}
.swap-coin .swap-item-wrap .SwapAmount-block input {
  position: absolute;
  left: 0;
}
.swap-coin .swap-item-wrap .SwapAmount-block b {
  padding-right: 8px;
}
.swap-coin .swap-item-wrap .checkmark {
  border: 2px solid #000;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}
.swap-coin .swap-item-wrap .checkmark::after {
  background-color: #000;
  position: relative;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
}
.swap-coin .swap-table-body .swap-item-wrap:hover {
  cursor:default;
}

.swap-coin .swap-table-body .swap-item-wrap div { 
  text-align: center;
}

.swap-footer-btns {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.swap .right .swap-footer-btns button {
  width: 48%;
}
.swap .right .swap-footer-btns button:hover {
  background-color: #0054F4;
}

@media only screen and (max-width: 768px) {
  .CoinPanel.SwapPanel.SwapHeader {
    flex-wrap: wrap;
    justify-content: center;
  }
  .CoinAmount-block {
    margin-bottom: 20px;
  }
  .CoinFundingTxid {
    margin-top: 20px;
  }
  .tab-content .CoinPanel {
    display: block;
  }
}

.swap .right  .btn {
  width: 80%;
  padding: 16px;
  margin-top: 5px;
  border: none;
  background-color: #757575;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  box-shadow: 0 4px 6px -4px #222
}
.swap .right  .btn  img {
  margin-right: 10px;
}

.red{
  color: red;
}