.CoinsPanel {
  /* padding: 10px 0; */
}
.table {
  margin-bottom: 15px;
  box-shadow: 0px 2px 12px -7px #222;
  padding: 10px 0;
  border-radius: 4px;
  background-color: #fff;
}

.tab-content {
  padding: 10px;
}
.tab-content article {
  border-bottom: 1px solid #dee2e6;
}
.tab-content .CoinPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  border-bottom: 1px solid #dee2e6;
}

.nav-tabs {
  display: flex;
 justify-content: center;
  width: 100%;

}
.nav-tabs a {
  position: relative;
  color: #666666;
  font-size: 14px;
  width: 50%;
}
.nav-tabs .nav-link {
  border: none;
}
.nav-tabs .nav-link {
  border: none !important;
}
.nav-tabs a.nav-item.active {
  color: #0054F4;
}
.nav-tabs a.nav-item.active:after {
  content: "";
  display: block;
  background-color:  #0054F4;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;

}

.withdrawn-tab{
  color: #0054F4;
  letter-spacing: 1.246px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  border-bottom: 2px solid #E0E0E0;
  /* background-color: #fff; */
  padding: 16px;
}
