.PanelControl-button {
  background-color: #CCCCCC;
  height: 30px;
}

.ButtonsPanel {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  overflow:hidden;
  align-items: center;
}

.WalletAmount {
  display: flex;
  text-align: left;
  padding-left: 15px;
}
.no-wallet {
  color: #666666;
  text-align: left;
  font-size: 20px;
  padding-left: 15px;
}
.WalletAmount img {
  margin-right: 10px;
  width: 38px;
}

.ActionGroupLeft {
  display: flex;
  align-items: center;
}

.ActionGroupRight {
  display: flex;
}

.ActionGroupRight a {
  padding: 0;
}

.ActionGroupRight a {
  padding: 0;
}


@media only screen and (max-width: 768px) {
  .ButtonsPanel {
    display: block;
    margin: 0 auto;
  }
  .ActionGroupLeft .nav-link {
    padding: 0;
  }
  .ActionGroupLeft .nav-link button img {
    width: 15px;
  }
  .ActionGroupLeft .nav-link  button {
    padding: 10px;
    height: auto;
    line-height: 0;
    font-size: 12px;
  }
  .ActionGroupLeft  {
    justify-content: center;
  }
  .ActionGroupRight {
    justify-content: center;
  }
  .WalletAmount {
    justify-content: center;
  }
  .no-wallet {
    text-align: center;
  }
}
