.PanelControl-button {
  background-color: var(--idle)CCC;
  height: 30px;
}
.panelControl.Body {
  padding: 40px 36px 15px 36px;
}

.ButtonsPanel {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  overflow:hidden;
  align-items: flex-start;
}
.ButtonsPanel .Body-button,
.ButtonsPanel .Body-button.blue,
.ButtonsPanel .Body-button.yellow
 {
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
  display: flex;
  align-items: center;
}
.ButtonsPanel .ActionGroupLeft a,
.ButtonsPanel .ActionGroupRight a {
  text-decoration: none;
}
.ButtonsPanel .Body-button img,
.ButtonsPanel .Body-button.blue img,
.ButtonsPanel .Body-button.yellow img {
  margin-right: 5px;
}
.ButtonsPanel .ActionGroupLeft {
  margin-bottom: 10px;
}
.ButtonsPanel .ActionGroupLeft .Body-button {
  margin: 0 10px 0 0;
  background-color: #f7931a;
}
.ButtonsPanel .ActionGroupRight .Body-button {
  margin: 0 0 0 10px;
  background-color: var(--primary);
  color: var(--button-main-text);
  border: 1px solid var(--primary);
}
.ButtonsPanel .ActionGroupRight img{
  filter: brightness(0) invert(1);
}

.WalletAmount {
  display: flex;
  text-align: left;
  position: relative;
}
.no-wallet {
  color: var(--text-secondary-sub);
  text-align: left;
  font-size: 20px;
}
.WalletAmount img {
  margin-right: 10px;
  width: 38px;
}

.ActionGroupLeft {
  display: flex;
  align-items: center;
}

.ActionGroupRight {
  display: flex;
}

.ActionGroupRight a {
  padding: 0;
}

.ActionGroupRight a {
  padding: 0;
}

.filter-coin-options {
  position: absolute;
  min-width: 158px;
  top: 37px;
  right: 30px;
  background-color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #212121;
  border-radius: 4px 0px 4px 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  z-index: 1000;
}

.filter-coin-options > div,
.filter-coin-options > label {
  padding: 8px 10px;
}

.filter-coin-options label {
  display: block;
  margin: 0;
}

.filter-coin-options .checkmark {
  top: 9px;
  left: 16px;
  border-color: #000;
}

.filter-coin-options .checkmark:after {
  background-color: #000;
}

.filter-coin-options label input {
  margin-right: 12px;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 300;
}

.filter-coin-head {
  border-bottom: 1px solid #D3D3D3;
}

@media only screen and (max-width: 991px) {
  .ButtonsPanel {
    display: block;
    margin: 0 auto;
  }
  .ActionGroupLeft .nav-link {
    padding: 0;
  }
  .ActionGroupLeft .nav-link button img {
    width: 15px;
  }
  .ActionGroupLeft .nav-link  button {
    padding: 10px;
    height: auto;
    line-height: 0;
    font-size: 12px;
  }
  .ActionGroupLeft  {
    justify-content: center;
  }
  .ActionGroupRight {
    justify-content: center;
    padding-bottom:15px;
  }
  .Body-button {
    box-shadow: 0 4px 6px -6px var(--box-shadow);
  }
  .WalletAmount {
    justify-content: center;
  }
  .no-wallet {
    text-align: center;
  }
}
