.wallet-notification {
  padding: 14px 16px;
  background: #0054F4 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 0.97;
  position: fixed;
  bottom: 10px;
  width: 404px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
.wallet-notification p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 0.25px;
  font-size: 14px;
  text-align: center;
}

.wallet-notification .notification-content {
  position: relative;
}

.wallet-notification .close {
  position: absolute;
  width: 15px;
  height: 15px;
  right: -25px;
  top: 5px;
}
