.Body.settings {
    padding: 40px 36px 4px 36px
}
.settings .subtitle {
    color: #676767;
    font-size: 20px;
    text-align: left;
    font-weight: 400;
    padding-left: 62px;
}

.settings .wrap-btns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.settings .wrap-btns button {
    margin-right: 20px;
    margin-bottom: 15px;
}

.settings .content .inputs .inputs-item input, .content .btns-radios input {
    display: block;
    position: relative;
    width: 80%;
    outline: none;
    margin-bottom: 20px;
    opacity: 1;
    font-size: 14px;
    color: var(--text-secondary);
    border: 1px solid var(--text-secondary);
    border-radius: 6px;
    height: 56px;
    padding: 10px;
}


.settings .content .inputs .inputs-item.protocol label{
    width:116px;
}

.input-group .inputs-item {
    width: 38%;
}

.input-group .inputs-item:first-of-type {
    margin-right: 4%;
}

.input-group .inputs-item input {
    width: 100% !important;
}

.settings .content {
    display: flex;
    justify-content: space-between;
}

.settings .content .inputs {
    width: 50%;
    text-align: left;
}

.settings .content .inputs-item {
    position: relative;

}

.settings .content .input:focus, .settings .content .input {
    outline: none !important;
}

.settings .content .inputs-item label {
    position: absolute;
    z-index: 10;
    top: 16px;
    left: 0;
}

.update-min-anon-set {
    cursor: pointer;
}

.settings .content .inputs-item input:focus + label, .settings .content .inputs-item input:visited + label,
.settings .content .inputs-item input:valid + label {
    transition: 0.2s;
    top: -10px;
    left: 10px;
    background: var(--container);
    padding: 0 10px;
    color: var(--button-main);
}

input.quantity {
    width: 80%;
    height: 56px;
    border-radius: 0;
    border-left: none;
    border-right: none;
}

.content .inputs .def-number-input {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 80%;
}

.settings .content .inputs .inputs-item.def-number-input input{
    color: transparent;
    text-shadow: 0 0 0 grey;
}

.inputs select {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    padding: 0 10px;
    width: 80%;
    height: 30px;
    font-size: 14px;
    margin: 0;
}

.content .inputs .def-number-input .smalltxt {
    width: 176px !important;
    color: var(--button-main);
}

.action-btns {
    text-align: right;
    margin-bottom: 25px;
}

.action-btn-check {
    text-align: left;
    margin-bottom: 25px;
}

.action-btn-blue{
    background-color:var(--button-main);
    color: var(--button-main-text);
    margin:5px;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    padding: 0 15px;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 4px 6px -6px var(--box-shadow);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.action-btn-normal{
    background-color: var(--container);
    color: var(--text-primary);
    margin:5px;
    text-align: center;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    padding: 0 15px;
    border: 1px solid var(--button-border);
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
}

.inputs h2 {
    text-align: left;
    margin-bottom: 20px;
    font-weight: 300;
}

.Body-button.blue {
    display: block;
}


input.quantity {
    width: 80%;
    height: 56px;
    border-radius: 0 !important;
    border: 1px solid var(--button-border) !important;
    border-left: none !important;
    border-right: none !important;
    text-align: center;
}

.def-number-input {
    position: relative;
    display: flex;
    align-items: center;
}

.def-number-input .smalltxt {
    z-index: 1;
    width: 90px !important;
}

.plus {
    background-image: url("../../images/increase.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px;
    width: 48px;
    height: 56px;
    border: 1px solid var(--text-secondary);
    background-color: transparent;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

}

.inputs .smalltxt {
    position: absolute;
    top: -10px;
    font-size: 12px;
    color: #676767;
    left: 0;
    right: 0;
    background: var(--container);
    width: 135px;
    display: block;
    margin: 0 auto;
    padding: 0 10px;

}

.content .inputs .btns span {
    display: block;
    text-align: left;
    font-size: 14px;
    color: var(--text-secondary-sub);

}

.checkbox-group {
    margin-top: 40px;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox'], input[type='radio'] {
        --active: var(--button-main);
        --active-inner: #fff;
        --focus: var(--button-main);
        --background: #9EBEFB;
        --disabled: #e2e2ea;
        --disabled-inner: #e2e2ea;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 21px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }

    input[type='checkbox']:after, input[type='radio']:after {
        content: '';
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }

    input[type='checkbox']:checked, input[type='radio']:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: 0.3s;
        --d-t: 0.6s;
        --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
    }

    input[type='checkbox']:disabled, input[type='radio']:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: 0.9;
    }

    input[type='checkbox']:disabled:checked, input[type='radio']:disabled:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
    }

    input[type='checkbox']:disabled + label, input[type='radio']:disabled + label {
        cursor: not-allowed;
    }

    input[type='checkbox']:hover:not(:checked):not(:disabled), input[type='radio']:hover:not(:checked):not(:disabled) {
        --bc: var(--border-hover);
    }

    input[type='checkbox']:focus, input[type='radio']:focus {
        box-shadow: 0 0 0 var(--focus);
    }

    input[type='checkbox']:not(.switch), input[type='radio']:not(.switch) {
        width: 21px;
    }

    input[type='checkbox']:not(.switch):after, input[type='radio']:not(.switch):after {
        opacity: var(--o, 0);
    }

    input[type='checkbox']:not(.switch):checked, input[type='radio']:not(.switch):checked {
        --o: 1;
    }

    input[type='checkbox'] + label, input[type='radio'] + label {
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
    }

    input[type='checkbox']:not(.switch) {
        border-radius: 7px;
    }

    input[type='checkbox']:not(.switch):after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
    }

    input[type='checkbox']:not(.switch):checked {
        --r: 43deg;
    }

    input[type='checkbox'].switch {
        width: 55px;
        border-radius: 11px;
    }

    input[type='checkbox'].switch:after {
        left: -7px;
        top: -5px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        border: 3px solid var(--button-main);
        background: var(--button-main);
        transform: translateX(var(--x, 0));
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    }

    input[type='checkbox'].switch:checked {
        --ab: var(--active-inner);
        --x: 45px;
    }

    input[type='checkbox'].switch:disabled:not(:checked):after {
        opacity: 0.6;
    }

    input[type='radio'] {
        border-radius: 50%;
    }

    input[type='radio']:after {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: var(--active-inner);
        opacity: 0;
        transform: scale(var(--s, 0.7));
    }

    input[type='radio']:checked {
        --s: 0.5;
    }
}

.seed-phrase{
    margin-top:40px;
}

.seed-phrase button{
    margin:0px;
}

.seed-phrase div.input-password{
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    padding: 10px;
    width: 145px;
}

@media only screen and (max-width: 768px) {
    .input-group {
        flex-direction: column;
    }

    .input-group .inputs-item {
        width: 100%;
    }
    
    .input-group .inputs-item:first-of-type {
        margin-right: 0;
    }

    .settings .buttons {
        display: block;
    }

    .settings .buttons button {
        margin: 10px auto;
    }

    .settings .content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;

    }

    .settings .content .inputs {
        width: 100%;
    }

    .inputs h2 {
        margin-top: 20px;
        font-size: 25px;
    }

    .settings .content .inputs:first-child input {
        width: 100%;
    }
}
