.Header {
    background-color: #0054F4;
    height: 56px;
    padding: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 8px #999;
    color: #FFFFFF;
}

.Header .block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.Header-logo {
    height: 40px;
    float: left;
}

.menu {
    display: flex;
}

.nav-item {
    color: #ffffff;
}

.nav-link {
    color: #ffffff;
}
@media only screen and (max-width: 768px)  {

}
