.Header {
    background-color: #0054F4;
    height: 56px;
    padding: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 8px #999;
    color: #FFFFFF;
}

.Header .block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.Header-logo {
    height: 40px;
    float: left;
}

.menu {
    display: flex;
}

.modal-dialog {
    transform: translate(0, -50%) !important;
    top: 50%;
    margin: 0 auto !important;
}

.nav-item {
    color: #ffffff;
}
.nav-item i {
    cursor: pointer;
}
.nav-item i:hover  {
    color: #ffffff;

}
.hideBar p {
    padding: 5px 10px;
    font-size: 18px;
    text-align: left;
    color: #ffffff;
    margin: 0;
}
.hideBar .fa-close {
    cursor: pointer;
    position: absolute;
    right: 15px;
    bottom: 13px;
    font-size: 15px;
    color: #ffffff;
    opacity: 1;
}
.hideBar .close {
    position: relative;
}
.hideBar.disabled {
    display: none;
}

.Header .nav-link {
    color: #ffffff;
    padding: 0;
    margin-right: 14px;
}
.hideBar {
    position: absolute;
    width: 100%;
    margin-top: 0;
    background-color: #F79325;
    left: 0;

}
.header-logout {
    cursor: pointer;
}

.Header .toggle-switch {
    width: 45px;
    height: 24px;
    background-color: #2c2c2c;
}
.Header label.toggle {
    margin: 0;
    padding: 0;
    margin-right: 14px;;
}
.Header .toggle-switch::before {
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
}
.Header .toggle-checkbox:checked + .toggle-switch:before {
    left: 22px;
    background-color: #2c2c2c;
}
.dark-mode .Header .toggle-checkbox:checked + .toggle-switch {
    background-color: #fff;
}
.dark-mode .Header .toggle:hover .toggle-switch:before {
    background: #2d2d2d;
}
