.Header {
    background-color: #0054F4;
    height: 56px;
    padding: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 8px #999;
    color: #FFFFFF;
}

.Header .block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.Header-logo {
    height: 40px;
    float: left;
}

.menu {
    display: flex;
}

.modal-dialog {
    transform: translate(0, -50%) !important;
    top: 50%;
    margin: 0 auto !important;
}

.nav-item {
    color: #ffffff;
}
.nav-item i {
    cursor: pointer;
}
.nav-item i:hover  {
    color: #ffffff;

}

.nav-link {
    color: #ffffff;
}
@media only screen and (max-width: 768px)  {

}
