.copy-btn-wrap {
  position: relative;
}
.copy-btn-wrap .copied {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  font-weight: normal;
  left: -50px;
  text-transform: capitalize;
  background: #495057;
  color: #fff;
  padding: 4px;
  border-radius: 4px;
  width: 50px;
}
