.copy-btn-wrap {
  position: relative;
}
.copy-btn-wrap .copied {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  font-weight: normal;
  left: -50px;
  text-transform: capitalize;
  background: var(--background);
  color: var(--text-primary)!important;
  padding: 4px;
  border-radius: 4px;
  width: max-content;
}
