h1 {
    font-size: 34px;
}

p {
    font-size: 14px;
    color: var(--text-secondary);
    margin-bottom: 0;
}

input[type='checkbox'], input[type='radio'] {
    --active-inner: #707070;
}

.btns {
    display: flex;
    justify-content: flex-end;
}
.btns a {
    color: var(--button-main);
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 6px;
    margin-left: 20px;
    margin-top: 30px;
}
.btns a.send {
    background-color: var(--button-main);
    color: var(--container);
    padding: 5px 10px;
}

.btns a.send.disabled {
    background-color: var(--idle);
    color: var(--container);
    cursor: not-allowed;
    pointer-events: none;
}

.wizard .steppers {
    margin: 40px 0;
}
