.Header {
  background-color: #444;
  height: 40px;
  padding: 10px;
  color: white;
}

.Header-logo {
  height: 40px;
  float: left;
}

.Header-button {
  background-color: #CCCCCC;
  height: 40px;
  float: right;
}
