.backupTx .subtitle {
    color: #676767;
    font-size: 20px;
    text-align: left;
    font-weight: 400;
    padding-left: 62px;

}


.backupTx.content {
    display: flex;
    justify-content: space-between;
}

.backupTx.content .inputs {
    position: relative;
    margin-top: 30px;

}

.backupTx.content .inputs input {
    position: relative;
    width: 100%;
    border: 1px solid #676767;
    border-radius: 6px;
    font-size: 15px;
    padding: 20px;
    opacity: 1;
}

.backupTx.content .inputs .smalltxt {
    position: absolute;
    top: -10px;
    font-size: 12px;
    color: #676767;
    left: 0;
    right: 0;
    background: #ffffff;
    width: 135px;
    display: block;
    margin: 0 auto;
    padding: 0 10px;

}


.backupTx.content .right {
    width: 49%;
}

.backupTx.content .right .header {
    display: flex;
    justify-content: space-between;

}

.backupTx.content .right .header .small {
    display: block;
    font-size: 12px;
    color: #676767;
    margin-top: 5px;
}

.backupTx.content .right .header .subtitle {
    padding-left: 0;
    margin-bottom: 20px;
}

.backupTx.content .right .header select {
    border: none;
    box-shadow: 0px 2px 12px -7px #222;
    padding: 10px;
    width: 145px;
}

.backupTx.content .left .sub,
.backupTx.content .left h3 {
    text-align: left;
    margin-left: 0;
    padding-left: 0;
}

.backupTx.content .left {
    width: 49%;
}

.backupTx table {
    display: block;
    margin-top: 30px;
}

.backupTx table tbody {
    display: block;
}

.backupTx table thead tr {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.backupTx table thead tr td {
    display: flex;
    align-items: center;
}

.backupTx table thead tr td img {
    margin-right: 10px;
}

.backupTx table thead tr td {
    color: #757575;
    font-size: 14px;
    text-transform: uppercase;
}

.backupTx table tr {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 20px;
    margin: 10px auto;
    border-bottom: 1px solid #E0E0E0;

}

.backupTx table tbody tr td,
.backupTx table thead tr td {
    width: 50%;
}

.backupTx table tbody tr td .content {
    display: flex;
    align-items: center;
    margin-left: 10px;

}

.backupTx table tbody tr td .content .txt {
    margin-left: 10px;
}

.backupTx table tbody tr td .content .line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.backupTx table tbody tr td .content .line span {
    font-size: 14px;
    color: #757575;
    font-weight: 300;
}

.backupTx table tbody tr td .content .line img {
    width: 18px;
    height: 18px
}

.backupTx table tbody tr td .content span {
    display: block;
}

.backupTx table tbody tr td:first-child {
    text-align: left;
}

.backupTx table tbody tr td:nth-child(2) {
    text-align: right;
}

.backupTx table tbody tr .status {
    display: block;
    background-color: #E4E4E4;
    text-align: center;
    padding: 15px 20px;
    border-radius: 30px;
}

.backupTx table.second tbody tr td,
.backupTx table.second thead tr td {
    text-align: center;
}

.backupTx table.second thead tr td {
    padding-right: 40px;
}

.backupTx table.second thead tr {
    border-bottom: none;
}

.minus {
    background-image: url("../../images/decrease.png");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center center;
    width: 48px;
    height: 56px;
    border: 1px solid #757575;
    background-color: transparent;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

input.quantity {
    width: 80%;
    height: 56px;
    border-radius: 0;
    border-left: none;
    border-right: none;
}

.def-number-input {
    position: relative;
    display: flex;
    align-items: center;
}


input.quantity {
    width: 80%;
    height: 56px;
    border-radius: 0 !important;
    border: 1px solid #E0E0E0 !important;
    border-left: none !important;
    border-right: none !important;
    text-align: center;
}

.def-number-input {
    position: relative;
    display: flex;
    align-items: center;
}

.def-number-input .smalltxt {
    z-index: 1;
    width: 90px !important;
}

.plus {
    background-image: url("../../images/increase.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px;
    width: 48px;
    height: 56px;
    border: 1px solid #757575;
    background-color: transparent;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

}

.backupTx .right table {
    margin-top: 0;
}

.backupTx .right p.table-title {
    text-align: left;
    margin-top: 35px;
    font-size: 12px;
    color: #757575;
}

.backupTx .right table tbody tr td {
    text-align: left;
    width: auto;
    margin: 20px 0;
}

.backupTx .right table tbody tr {
    justify-content: flex-start;
    border: none;
}

.backupTx .right table tbody tr td:first-child {
    width: 10%;
}

.backupTx .right table tbody tr td:first-child input {
    width: 20px;
    height: 20px;
    opacity: 1;
}

.backupTx .right .btn {
    width: 100%;
    padding: 20px;
    border: none;
    background-color: #757575;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
}

.backupTx .right .btn img {
    margin-right: 10px;
}

@media only screen and (max-width: 768px) {
    .backupTx .subtitle {
        padding-left: 0;
        text-align: center;
    }

    .WalletAmount {
        font-size: 26px;
    }

    .backupTx.content {
        display: block;
    }

    .backupTx.content .left {
        width: 100%;
    }

    .backupTx.content .right {
        width: 100%;
    }
}


.transferMsg.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.transferMsg .scan-trasfermsg {
    display: flex;
    background-color: #ECF2FF;
    padding: 20px;
    align-items: baseline;
    border-radius: 6px;
}


.transferMsg .subtitle {
    color: #676767;
    font-size: 20px;
    text-align: left;
    font-weight: 400;
}


.backupTx .right .item {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}

.backupTx .right .item div {
    display: block;
    width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.backupTx .right .item img {
    margin-right: 10px;
}

.backupTx .right .item h3 {
    padding-left: 0;
}

.backupTx.content .right button {
    margin-top: 20px;
}

.backupTx.content .right .item span.sub {
    text-align: left;
    width: 30%;
}

.backupTx.content .right .item div {
    text-align: left;
    width: 70%;
}
