.progress-modal .modal-dialog{
    max-width:80%;
}

.progress-container{
    height: 25px;
    background-color: var(--container);
    border-radius: 50px;
    margin: 50px ;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.progress-modal p {
    max-width: initial;
    width:100%
}

.progress-filler{
    padding: 5px;
    color: white;
    font-weight: bold;
}

.recovery-txt-container #loading.loading{
    color: var(--text-primary)!important;
    font-size: 2rem
}

.recovery-txt-container{
    margin-top:25px;
}