.receive-channel img{
    transform: rotate(180deg);
}

.withdraw.content.lightning {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Body.right.lightning {
    width: 70%;;
    padding: 50px;
}